BasedOnStyle: WebKit
Language: Cpp
IndentWidth: 4
AlignAfterOpenBracket: AlwaysBreak
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: 'Always'
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  IndentBraces: false
Standard: c++17
